<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965198968734-b825vk5fnda58tp8e4ee01vugur07tpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965198968734-b825vk5fnda58tp8e4ee01vugur07tpp</string>
	<key>API_KEY</key>
	<string>AIzaSyCUis8p04hNHFVhMm8lM848jXGN2KdXzHs</string>
	<key>GCM_SENDER_ID</key>
	<string>965198968734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-46ea6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-46ea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965198968734:ios:a63c6ee91be4c148ad088f</string>
</dict>
</plist>